.panel-login {
	border-color: #ddd;
}

.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}

.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
}

.panel-login>.panel-heading a.active{
	color: #2980b9;
	font-size: 18px;
}
