.jumbotron {
    height: 300px;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
 .city img {
    display: block;
    max-width: 250px;
    max-height: 100px;
    width: auto;
    height: auto;
 }

/* Comment section */
.panel-shadow {
    padding: 20px;
}

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}

.panel-white {
  border: 1px solid #dddddd;
}

@media screen and (min-width: 768px){
    .carousel-caption { 
        color: #fff;
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.badge {
    font-size: 20px;
}

.votescore {
    float: left;
    margin-top: 8px;
    margin-right: 3px;
}

.voteicon {
    margin-top: 8px;
    margin-right: 10px;
    float: left;
}

.btn-default.disabled:hover {
    color: #000;
}

.up-button:hover {
    color: white;
    background-color: #2ecc71;
}

.up-button.hasvoted {
    color: white;
    background-color: #2ecc71;
}

.up-button.hasvoted:hover {
    color: white;
    background-color: #2ecc71;
}

.down-button:hover {
    color: white;
    background-color: #c0392b;
}

.down-button.hasvoted {
    color: white;
    background-color: #c0392b;
}

.down-button.hasvoted:hover {
    color: white;
    background-color: #c0392b;
}