.jumbotron {
    height: 300px;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.jumbotron h1 {
    color: #c0392b;
}

.description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

 .city img {
     width:100%;
     height: 100px;
 }

/* Comment section */
.panel-shadow {
    padding: 20px;
}

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}

.panel-white {
  border: 1px solid #dddddd;
}

@media screen and (min-width: 768px){
    .carousel-caption { 
        color: #fff;
        background-color: rgba(0, 0, 0, 0.6);
    }
}