.jumbotron {
    background-image: url("../images/toronto-skyline.jpg");
    height: 300px;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.jumbotron h1 {
    color: #c0392b;
}